service: cloud-hack

frameworkVersion: '3'

provider:
  name: aws
  runtime: python3.9
  region: us-east-1
  stage: dev
  profile: default
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:PutItem
            - dynamodb:GetItem
            - dynamodb:Scan
            - dynamodb:DeleteItem
            - dynamodb:UpdateItem
          Resource:
            - Fn::GetAtt: [ReportsTable, Arn]
            - Fn::GetAtt: [ConnectionsTable, Arn]
        - Effect: Allow
          Action:
            - execute-api:ManageConnections
          Resource:
            - arn:aws:execute-api:*:*:*/@connections/*

custom:
  awsAcademy:
    org: valentinoc
    userId: 175670145706
    role: LabRole

functions:
  app:
    handler: src/app.lambda_handler
    events:
      - http:
          path: incidentes
          method: post
      - http:
          path: incidentes
          method: get

  connect:
    handler: src/connect.lambda_handler
    events:
      - websocket:
          route: $connect

  disconnect:
    handler: src/disconnect.lambda_handler
    events:
      - websocket:
          route: $disconnect

resources:
  Resources:
    ReportsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ReportsTable
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    ConnectionsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ConnectionsTable
        AttributeDefinitions:
          - AttributeName: connectionId
            AttributeType: S
        KeySchema:
          - AttributeName: connectionId
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

package:
  include:
    - src/**

# plugins:
#   - serverless-python-requirements</content>
<parameter name="filePath">c:\Users\vvalen\Desktop\6hd\Utec\2025-2\cloud\cloud-hack\serverless.yaml